
@{
    ViewData["Title"] = "库存查询";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

@section Styles{
    <link href="~/Metronic/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
    <link href="~/Metronic/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/PlugIn/plugins/DataTables-1.10.15/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Style/loading.css" rel="stylesheet" />
    <style type="text/css">
        .pagehead { margin-bottom: 10px; padding: 10px 0 10px 0; }
        .marge { border: 1px solid #e7ecf1 }

        th, td { max-width: 400px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">库存查询</span>
                </div>
                <div class="x-nav">
                    <a class="btn btn-primary btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:window.location.reload();" title="刷新">
                        <i class="layui-icon">&#xe9aa;</i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-default blue align-reverse" id="exportExcel" style="float:right;margin-right:20px;">导出EXCEL</a>
                    <iframe id="ifile" style="display:none"></iframe>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row pagehead">
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">仓库</span>
                            @Html.DropDownList("WareHouseId", ViewBag.WareHouses as SelectList, "请选择", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">可用库存</span>
                            <input type="number" class="form-control" name="AvailableStockMin" id="AvailableStockMin" value="" autocomplete="off" />
                            <span class="input-group-addon">~</span>
                            <input type="number" class="form-control" name="AvailableStockMax" id="AvailableStockMax" value="" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">销售单价</span>
                            <input type="number" class="form-control" name="SalePriceMin" id="SalePriceMin" value="" autocomplete="off" />
                            <span class="input-group-addon">~</span>
                            <input type="number" name="SalePriceMax" id="SalePriceMax" class="form-control" value="" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="row pagehead">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">关键词</span>
                            <input type="text" class="form-control" id="SearchStr" value="" placeholder="商品名称，商品编码" />
                            <div class="input-group-btn">
                                <input type="button" class="btn btn-default red" name="BtnSearchStr" value="搜索" />
                            </div>
                        </div>
                    </div>
                </div>

                <!--DataTable Begin-->
                <div>
                    <table id="QueryStockTable" class="table table-bordered" cellspacing="0" style="width:100%;text-align:center;">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商品编码</th>
                                <th>总库存<br />（所有仓库）</th>
                                <th>总锁定库存<br />（所有仓库）</th>
                                <th>总可用库存<br />（所有仓库）</th>
                                <th>仓库</th>
                                <th>库存</th>
                                <th>锁定库存</th>
                                <th>可用库存</th>
                                <th>总金额</th>
                                <th>价格</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--DataTable End-->
                <div style="margin-top:10px;">
                     <table class="table table-bordered" cellspacing="0" style="width:100%;text-align:center;">
                            <tr>
                                <th>合计</th>
                                <th>总库存</th>
                                <th>总锁定库存</th>
                                <th>总可用库存</th>
                            </tr>
                            <tr>
                                <td>
                                    <b>当前页合计</b>
                                </td>
                                <td><div id="sumStock"></div></td>
                                <td><div id="sumLockStock"></div></td>
                                <td><div id="sumAvailableStock"></div></td>
                            </tr>
                            <tr>
                                <td>
                                    <b>总合计</b>
                                </td>
                                <td><div id="allStock"></div></td>
                                <td><div id="allLockStock"></div></td>
                                <td><div id="allAvailableStock"></div></td>
                            </tr>
                        </table>
                 </div>                   
                <!--库存锁定-->
                <div class="modal fade" id="proLockedQuery" style="top:30%">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria--hidden="true">&times;</button>
                                <h4 class="modal-title">锁定信息</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>行号</th>
                                            <th>仓库</th>
                                            <th>订单号</th>
                                            <th>锁定数量</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="" style="display:block;height:25px;">
                                    <ul id="pageLimit2" style="float:right;margin:0px;"></ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Metronic/assets/global/plugins/bootstrap-paginator/src/bootstrap-paginator.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/extensions/editor/js/dataTables.editor.min.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/extensions/editor//js/editor.bootstrap.min.js"></script>
    <script src="~/PlugIn/plugins/DataTables-1.10.15/media/js/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        var table = {};
        $(function () {
            //初始化数据
            QueryProductStock();
            //搜索
            $("input[name='BtnSearchStr']").click(function () {
                table.destroy();
                QueryProductStock();
            })
        });
        //获取并查询库存table
        function QueryProductStock() {
            //查询参数
            var searchStr = $.trim($("#SearchStr").val());
            var wareHouseId = $("#WareHouseId option:selected").val();
            var availableStockMin = $("#AvailableStockMin").val();
            var availableStockMax = $("#AvailableStockMax").val();
            var salePriceMin = $("#SalePriceMin").val();
            var salePriceMax = $("#SalePriceMax").val();
            //给表格添加数据
            table = $('#QueryStockTable').DataTable({
                "processing": true,
                "serverSide": true,
                scrollX: true,
                scrollY: 600,
                scrollCollapse: true,
                ordering: false,
                retrieve: true,
                destroy: true,
                select: true,
                bFilter: false, // 去掉搜索
                lengthMenu: [10, 15, 30, 45, 60, 100],
                paging: true,//开启表格分页
                ajax: function (data, callback, settings) {
                    //封装请求参数;
                    var pageSize = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                    var pageIndex = (data.start / data.length) + 1;//当前页码
                    //查询条件数组
                    var parameter = {
                        searchStr: searchStr,
                        wareHouseId: wareHouseId,
                        pageIndex: pageIndex,
                        pageSize: pageSize,
                        availableStockMin: availableStockMin,
                        availableStockMax: availableStockMax,
                        salePriceMin: salePriceMin,
                        salePriceMax: salePriceMax
                    }
                    $.ajax({
                        "url": "/Product/GetQueryStockTable",
                        "type": "POST",
                        "dataSrc": "data",
                        "data": parameter,
                        success: function (result) {
                            var returnData = {};
                            returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                            returnData.recordsTotal = result.recordsTotal;
                            returnData.data = result.data;
                            returnData.recordsFiltered = result.recordsFiltered;
                            //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                            callback(returnData);
                            //合并单元格
                            hideAll();
                            $(".remove").remove();
                            $(".marge").css("vertical-align", "middle");
                            $(".marge").css("border-left", " 1px solid #e7ecf1");
                            //合计
                            $("#allStock").html(result.allStock);
                            $("#allLockStock").html(result.allLockStock);
                            $("#allAvailableStock").html(result.allAvailableStock);
                            $("#sumStock").html(result.sumStock);
                            $("#sumLockStock").html(result.sumLockStock);
                            $("#sumAvailableStock").html(result.sumAvailableStock);;
                        },
                    });
                },
                columns: [
                    { data: "productName" },
                    { data: "productCode" },
                    { data: "sumStock" },
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return "<a onclick='getLockedProInfo(" + row.saleProductId + ",0)' style='color:red;text-decoration:underline'>" + row.sumLockStock + "</a>"
                        }
                    },
                    { data: "sumAvailableStock" },
                    { data: "wareHouseName" },
                    { data: "stock" },
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return "<a onclick='getLockedProInfo(" + row.saleProductId + "," + row.wareHouseId + ")' style='color:red;text-decoration:underline'>" + row.lockStock + "</a>"
                        }
                    },
                    { data: "availableStock" },
                    { data: "sumSalePrice" },
                    { data: "salePrice" }
                ],
                oLanguage: zh_CN,
                drawCallback: function () {
                    $("#gotoBtn").click(() => {
                        var pageIndex = parseInt($("#redirect").val());
                        if (!isNaN($("#redirect").val())) {
                            var ddd = 0;
                            $("#gotoBtn").parents("ul[class='pagination']").children("li").children("a").each(function () {
                                if (!isNaN($(this).html()) && parseInt($(this).html()) > ddd) {
                                    ddd = parseInt($(this).html());
                                }
                            });
                            if (pageIndex > 0 && pageIndex <= ddd) {
                                table.page(pageIndex - 1).draw(false);
                            } else {
                                alertError("请输入正确页数！")
                            }
                        }
                    });


                }
            });
        };

        /*查看锁定库存信息*/
        var getLockedProInfo = function (saleProId, wareHouseId) {
            $oms.paginator({
                pageLimitId: "pageLimit2",
                url: "/B2COrder/GetProLockedTackLog",
                data: { saleProductId: saleProId, wareHouseId: wareHouseId },
                success: function (data) {
                    html = "";
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>" +
                                "<td>" + (i + 1) + "</td>" +
                                "<td>" + data[i].wareHouseName + "</td>" +
                                "<td><a onclick='B2COrderDetail(\"" + data[i].orderSerialNumber + "\"," + data[i].orderId + ")' style='color:blue;text-decoration:underline;'>" + data[i].orderSerialNumber + "</a></td>" +
                                "<td>" + data[i].lockNumber + "</td>" +
                                "</tr>";
                        }
                    }
                    $("#proLockedQuery table tbody").html(html);
                    $("#proLockedQuery").modal();
                }
            });
        };
        /*查看订单详情*/
        var B2COrderDetail = function (orderSerialNumber,id) {
            //是否有打开tab
            for (var i = 0; i < parent.$('.x-iframe').length; i++) {
                if (parent.$('.x-iframe').eq(i).attr('tab-id') == orderSerialNumber) {
                    parent.$tap.tabChange(orderSerialNumber);
                    event.stopPropagation();
                    return;
                }
            };
            $.ajax({
                url: "/B2COrder/OrderDetail",
                data: { orderId: id },
                success: function (data) {
                    if (data.isSucc) {
                        var url = data.data + id;
                        parent.$tap.tabAdd(orderSerialNumber, url, orderSerialNumber); // 新开一个tap页面
                        parent.$tap.tabChange(orderSerialNumber);
                        event.stopPropagation();
                    }
                },
                error: function (data) {
                    alertError("无法跳转！");
                }
            });
        }

        //合并单元格
        function hideAll() {//参数：输入要隐藏的列数，要查第几列，我的是第一列和第二列，所以上面是hide(0)和hide(1)

            tr = $("#QueryStockTable tr").length;// 获取当前表格中行数
            var tdArr = [0, 1, 2, 3, 4, 10];
            var mark = 0; //要合并的单元格数
            var index = 0; //起始行数
            /*
             * 要合并单元格，需要存储两个参数，
             * 1，开始合并的单元格的第一行的行数，
             * 2.要合并的单元格的个数
             **/
            //判断 若只有一行数据，就是表头，则不做调整
            if (tr > 1) {
                //var i=1 比较当前的tr和上一个tr的值
                for (var i = 0; i < tr; i++) {
                    var ford = $("#QueryStockTable tr:gt(0):eq(" + i + ") td:eq(" + parseInt(0) + ")").text();
                    //根据下标获取单元格的值
                    // tr:gt(0) 从下标0 开始获取
                    // tr:gt(0):eq( i ) :i 标识 当前行的下标 ，0 开始
                    // td:eq(0) 当前行的第一个单元格，下标从0开始
                    var behind = $("#QueryStockTable tr:gt(0):eq(" + (parseInt(i) + 1) + ") td:eq(" + parseInt(0) + ")").text();

                    if (ford != "" && ford == behind) {
                        for (var n = 0; n < tdArr.length; n++) {
                            $("#QueryStockTable tr:gt(0):eq(" + (parseInt(i) + 1) + ") td:eq(" + parseInt(tdArr[n]) + ")").attr("class", "remove");

                        }
                        mark = mark + 1;
                    } else if (ford != behind) {
                        index = i - mark;
                        for (var m = 0; m < tdArr.length; m++) {
                            //执行代码
                            $("#QueryStockTable tr:gt(0):eq(" + index + ") td:eq(" + parseInt(tdArr[m]) + ")").attr("rowspan", mark + 1);//将当前的行加入属性rowspan，合并 mark+1行
                            $("#QueryStockTable tr:gt(0):eq(" + index + ") td:eq(" + parseInt(tdArr[m]) + ")").attr("class", "marge");
                        }                  
                        //rowspan 列上横跨， colspan 行上横跨
                        //后面的参数，表示横跨的单元格个数，
                        //合并单元格就是将其他的单元格隐藏（hide）,或删除（remove）。
                        //将一个单元格的rowspan 或colsspan 加大

                        mark = 0;
                    }
                }
            }
        }
        

        //合并单元格
        function hide(v) {//参数：输入要隐藏的列数，要查第几列，我的是第一列和第二列，所以上面是hide(0)和hide(1)

            tr = $("#QueryStockTable tr").length;// 获取当前表格中行数
            var mark = 0; //要合并的单元格数
            var index = 0; //起始行数
            /*
             * 要合并单元格，需要存储两个参数，
             * 1，开始合并的单元格的第一行的行数，
             * 2.要合并的单元格的个数
             **/
            //判断 若只有一行数据，就是表头，则不做调整
            if (tr > 1) {
                //var i=1 比较当前的tr和上一个tr的值
                for (var i = 0; i < tr; i++) {
                    var ford = $("#QueryStockTable tr:gt(0):eq(" + i + ") td:eq(" + parseInt(v) + ")").text();
                    //根据下标获取单元格的值
                    // tr:gt(0) 从下标0 开始获取
                    // tr:gt(0):eq( i ) :i 标识 当前行的下标 ，0 开始
                    // td:eq(0) 当前行的第一个单元格，下标从0开始
                    var behind = $("#QueryStockTable tr:gt(0):eq(" + (parseInt(i) + 1) + ") td:eq(" + parseInt(v) + ")").text();

                    if (ford != "" && ford == behind) {
                        $("#QueryStockTable tr:gt(0):eq(" + (parseInt(i) + 1) + ") td:eq(" + parseInt(v) + ")").attr("class", "remove");
                        mark = mark + 1;
                    } else if (ford != behind) {
                        index = i - mark;
                        $("#QueryStockTable tr:gt(0):eq(" + index + ") td:eq(" + parseInt(v) + ")").attr("rowspan", mark + 1);//将当前的行加入属性rowspan，合并 mark+1行
                        $("#QueryStockTable tr:gt(0):eq(" + index + ") td:eq(" + parseInt(v) + ")").attr("class", "marge");

                        //rowspan 列上横跨， colspan 行上横跨
                        //后面的参数，表示横跨的单元格个数，
                        //合并单元格就是将其他的单元格隐藏（hide）,或删除（remove）。
                        //将一个单元格的rowspan 或colsspan 加大

                        mark = 0;
                    }
                }
            }
        }



    </script>
}
