@{
    ViewData["Title"] = "B2B退单列表";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">B2B退单列表</span>
                </div>
                <div class="x-nav">
                    <a class="btn btn-primary btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:window.location.reload();" title="刷新">
                        <i class="layui-icon">&#xe9aa;</i>
                    </a>

                    <a href="javascript:void(0);" class="btn btn-default blue align-reverse" id="exportOrderDetail" style="float:right;margin-right:50px;">导出退单明细</a>
                    <iframe id="ifile" style="display:none"></iframe>
                    <a href="javascript:void(0);" class="btn btn-default blue align-reverse" id="exportOrder" style="float:right;margin-right:20px;">导出退单</a>
                    <div class="input-group" style="width:200px;margin-right:20px;float:right;">
                        <span class="input-group-addon">导出格式</span>
                        <select id="exportType" name="exportType" class="form-control">
                            @*<option value="">请选择</option>*@
                            <option value=".xls">.xls</option>
                            <option value=".csv">.csv</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon">仓库</div>
                                    @Html.DropDownList("wareHouseId", ViewBag.WareHouse as SelectList, "请选择", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">时间</span>
                                    <input type="text" class="form_datetime form-control" id="StartTime" name="StartTime" value="" autocomplete="off" />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="form_datetime form-control" id="EndTime" name="EndTime" value="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">关键字</span>
                                    <input type="text" class="form-control" id="searchStr" name="searchStr" value="" placeholder="订单号、原单号" />
                                    <div class="input-group-btn">
                                        <input type="button" class="btn btn-default red" name="BtnSearchStr" value="搜&nbsp;索" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="overflow:auto;display:block;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:15%">订单号</th>
                                        <th style="width:15%">原单号</th>
                                        <th>客户名称</th>
                                        <th>仓库</th>
                                        <th>数量</th>
                                        <th>金额</th>
                                        <th>已退金额</th>
                                        <th style="width:15%">单据时间</th>
                                        <th>订单状态</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                        <!--跳转页面-->
                        <div id="gotoPage" class=" pagination" style="float:right;width:186px;">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" style="line-height:21px;background-color:white;">跳转到</span>
                                <input type="text" id="redirect" name="redirect" class="form-control" style="width:50px;height:33px;" value="" />
                                <span class="input-group-addon goto-page" style="line-height:21px;background-color:white;">页</span>
                                <div class="input-group-btn goto-page">
                                    <button class="btn btn-default" id="gotoBtn" style="height:33px;">确定</button>
                                </div>
                            </div>
                        </div>
                        <ul id="pageLimit" style="float:right"></ul>
                    </div>

                        <!--用于列表页确定当前分页的index-->
                        <input type="number" id="pageNumber" value="1" hidden />
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Metronic/assets/global/plugins/bootstrap-paginator/src/bootstrap-paginator.js"></script>
    <script type="text/javascript">
        $(function () {
            ShowB2BRefundOrderList();
            $("input[name='BtnSearchStr']").click(function () {
                $("#pageNumber").val(1);
                ShowB2BRefundOrderList();
            })
            //跳转页面
            $("#gotoBtn").click(() => {
                var maxPage = 0;
                $("#pageLimit").children("li").children("a").each(function () {
                    if (!isNaN($(this).html()) && parseInt($(this).html()) >= maxPage) {
                        maxPage = $(this).html();
                    }
                })
                if ($("#redirect").val() > 0 && parseInt($("#redirect").val()) <= maxPage) {
                    $("#pageNumber").val($("#redirect").val());
                    ShowB2BRefundOrderList();
                } else {
                    alertError("请输入正确页数！")
                }
            });
        });
        var ShowB2BRefundOrderList = function () {
            var pageSize = 20;
            var wareHouseId = $("#wareHouseId option:selected").val();
            var searchStr = $("#searchStr").val();
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            if ((endTime != "") && startTime > endTime) {
                alertError("请重新选择时间");
                return false;
            }
            if (endTime != "") {
                endTime = new Date(endTime);
                endTime = (endTime.setDate(endTime.getDate() + 1));
                endTime = new Date(endTime);
                var year = endTime.getFullYear();
                var month = endTime.getMonth() + 1 < 10 ? "0" + (endTime.getMonth() + 1) : endTime.getMonth();
                var date = endTime.getDate() < 10 ? "0" + endTime.getDate() : endTime.getDate();
                endTime = year + "-" + month + "-" + date;
            }
            if ($("#pageNumber").val() == 1) {
                $("#redirect").val(1)
            }
            $oms.paginator({
                pageLimitId: "pageLimit",
                gotoPage: "gotoPage",
                url: "/B2BOrder/GetB2BRefundOrderList",
                data: { pageIndex: $("#pageNumber").val(), pageSize: pageSize, warehouseId: wareHouseId, startTime: startTime, endTime: endTime, searchStr: searchStr },
                success: function (data) {
                    html = "";
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>" +
                                "<td><a style='color:blue' class='' onclick='B2BRefundOrderDetail(\"" + data[i].serialNumber + "\"," + data[i].id + ")'>" + data[i].serialNumber + "</a></td>" +
                                "<td>" + (data[i].orgionSerialNumber == null ? "" : data[i].orgionSerialNumber) + "</td>" +
                                "<td>" + data[i].customerName +"</td>"+
                                "<td>" + data[i].warehouseName + "</td>" +
                                "<td>" + data[i].productQuantities + "</td>" +
                                "<td>" + data[i].sumPrice + "</td>" +
                                "<td>" + data[i].payPrice + "</td>" +
                                "<td>" + data[i].createdTime + "</td>" +
                                "<td><span class='label label-danger circle'>" + data[i].stateName + "</span></td>" +
                                "</tr>"
                        }
                        $("#tbody").html(html);
                    } else {
                        $("#tbody").html(html);
                    }
                }
            });
        }

        //查看B2B退货单明细
        function B2BRefundOrderDetail(refundSerialNumber,id) {
            //是否有打开tab
            for (var i = 0; i < parent.$('.x-iframe').length; i++) {
                if (parent.$('.x-iframe').eq(i).attr('tab-id') == refundSerialNumber) {
                    parent.$tap.tabChange(refundSerialNumber);
                    event.stopPropagation();
                    return;
                }
            };
            var url = "/B2BOrder/B2BRefundOrderDetail?id=" + id;
            parent.$tap.tabAdd(refundSerialNumber, url, refundSerialNumber); // 新开一个tap页面
            parent.$tap.tabChange(refundSerialNumber);
            event.stopPropagation();
        }

        //导出退单信息

        $('#exportOrder,#exportOrderDetail').click(function () {
            var clickButtonId = this.id;

            var exportType = $('#exportType option:selected').val();
            if (exportType == null || exportType == '') {
                alertError("请选择导出格式！");
                return false;
            }
            var wareHouseId = $("#wareHouseId option:selected").val();
            var searchStr = $("#searchStr").val();
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            if ((endTime != "") && startTime > endTime) {
                alertError("请重新选择时间");
                return false;
            }
            if (endTime != "") {
                endTime = new Date(endTime);
                endTime = (endTime.setDate(endTime.getDate() + 1));
                endTime = new Date(endTime);
                var year = endTime.getFullYear();
                var month = endTime.getMonth() + 1 < 10 ? "0" + (endTime.getMonth() + 1) : endTime.getMonth();
                var date = endTime.getDate() < 10 ? "0" + endTime.getDate() : endTime.getDate();
                endTime = year + "-" + month + "-" + date;
            }
            var SearchB2BOrderModel = {
                WareHouseId: wareHouseId,
                StartTime: startTime,
                EndTime: endTime,
                SearchStr: searchStr,
                IsRefundOrder: true
            }
            var dom = document.getElementById('ifile');

            var valueStr = "?" + "searchB2BOrderModelStr=" + JSON.stringify(SearchB2BOrderModel) + "&exportType=" + exportType;
            //导出订单
            if (clickButtonId == 'exportOrder') {
                dom.src = "/B2BOrder/ExportOrder" + valueStr + "&isOrderDetail=false";
            }
            //导出订单详情
            if (clickButtonId == 'exportOrderDetail') {
                dom.src = "/B2BOrder/ExportOrder" + valueStr + "&isOrderDetail=true";
            }

        })
    </script>
}