<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <span>发票抬头：</span><input type="type" name="name" value="" />
    </div>
</div>