@{
    ViewData["Title"] = "提醒";
    Layout = "~/Views/StockRemind/Dialog.cshtml";
}
<script src="/vue.js"></script>
<link rel="stylesheet" href="/element-ui/lib/theme-chalk/index.css">
<script src="/element-ui/lib/index.js"></script>
<script src="/jquery.min.js"></script>

<style>
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }

    .el-button {
        height: 40px;
    }

    .el-row {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap
    }

    .el-input, .el-button {
        margin-right: 5px;
    }

    .el-table .cell {
        font-size: 12px;
    }

    .el-col-2 {
        text-align: center;
        width: 5%;
    }

    .a {
        height: 30px;
        line-height: 30px;
        outline: 0;
        padding: 0 15px;
    }

    .el-pagination {
        text-align: center;
    }
</style>

<div id="table" style="padding-top:1%;padding-left:0.5%">
    <el-row style="height:40px">
        <el-form :inline=true :model="form">
            <el-form-item>
                <el-col :span="11">
                    <el-input placeholder="销售价" style="width:100%;" v-model="form.MinPrice"></el-input>
                </el-col>
                <el-col class="line" :span="2">-</el-col>
                <el-col :span="11">
                    <el-input placeholder="销售价" style="width: 100%;" v-model="form.MaxPrice"></el-input>
                </el-col>
            </el-form-item>

            <el-select placeholder="商品类型" v-model="form.ProductType">
                <el-option v-for="item in type" :label="item" :value="item" :key="item"> </el-option>
            </el-select>


        </el-form>
        <el-input v-model="form.nameCode" placeholder="中文名/英文名/商品编码"></el-input>
        <el-button type="primary" icon="el-icon-search" size="small" style="margin-right:0 !important" @@click="search">搜索</el-button>
        <el-button size="small" @@click="reload()">重置</el-button>
        <el-button size="small" onclick="edtior()">编辑</el-button>

        <el-select v-model="form.Take" @@change="option(form.Take)">
            <el-option v-for="item in options" :key="item" :label="item" :value="item"></el-option>
        </el-select>
    </el-row>

    <el-row>

        <el-table :data="table" style="width:auto" border @@select="select" @@select-all="select" :row-style="{height: '48px'}" :cell-style="{padding: '0'}" v-loading="loading">
            <el-table-column type="selection" width="55"></el-table-column>

            <el-table-column label="序号" width="50px">
                <template slot-scope="scope">
                    {{scope.$index+1}}
                </template>
            </el-table-column>

            <el-table-column prop="name" label="中文名" width="200"> </el-table-column>

            <el-table-column prop="en" label="英文名" width="241"> </el-table-column>

            <el-table-column prop="productCode" label="商品编码" width="150"> </el-table-column>

            <el-table-column prop="price" label="价格" width="100"> </el-table-column>

            <el-table-column prop="stock" label="库存" width="100"> </el-table-column>

            <el-table-column prop="statu" label="预警状态" width="100">
                <template slot-scope="scope">
                    <el-switch active-color="#C0C4CC" inactive-color="#13ce66" v-model="scope.row.statu"
                               :active-value=false :inactive-value=true @@change="swtich(scope.row.statu,scope.row)"></el-switch>
                </template>
            </el-table-column>

            <el-table-column label="操作" width="55">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @@click="dialog(scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <div class="block" style="margin: 0 auto;">
        <el-pagination layout="prev, pager, next" :current-change="content.page" :page-size="content.limit" :total="content.count" @@current-change="change" :current-page="content.page"></el-pagination>
    </div>
</div>

<script>

    var demo = new Vue({
        el: '#table',
        data: {
            form: {
                ProductType: '',
                MinPrice: null,
                MaxPrice: null,
                Take: 10,
                nameCode: '',
            },
            content: {
                page: 1,
                limit: 10,
                count: 20
            },
            selection: [],
            type: ['A', 'B', 'C'],
            limits: [5, 10, 20, 50],
            table: [{ productName: 'productName', en: '北泽园', statu: false, price: 10000, stock: 999, saleProductId: 0, templateCode: 'xxx', saleProductId: 123 }],
            options: [10, 30, 50, 100, 300, 1000, 3000],
            loading: false
        },
        methods: {
            ajax: function (url, type, data, success) {
                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    success: success,
                    beforeSend: function () {
                        $("#showModal").show();
                    },
                    complete: function () {
                        $("#showModal").hide();
                    }
                });
            },
            //获取商品类型
            productType: function () {
                this.ajax('/remind/product/type', 'get', '', function (res) {
                    demo.type = res;
                });
            },
            product: function () {
                this.ajax('/remind/product', 'post', { product: this.form, page: this.content.page, limit: this.content.limit }, function (res) {
                    demo.table = res.data;
                    demo.content.count = res.count
                });
            },
            change: function (value) {
                this.content.page = value;
                this.selection = []; // 清空多选
                this.product();
            },
            dialog: function (value) {
                dialog.open("设置", "600px", '600px', {
                    url: '/remind/template/set', type: 'post', data: [{
                        templateCode: value.templateCode, saleProductId: value.saleProductId, price: value.price,
                        en: value.en, name: value.name, stock: value.stock, productCode: value.productCode
                    }], success: function () {
                        demo.product();
                    }
                });
            },
            search: function () {
                this.content.page = 1;
                this.product();
            },
            reload: function () {
                this.content.page = 1;
                this.content.limit = 10;
                this.form = {
                    ProductType: '',
                    MinPrice: null,
                    MaxPrice: null,
                }
                this.product();
            },
            select: function (selection) {
                this.selection = selection;
            },
            swtich: function (value, row) {
                this.ajax('/remind/template/swtich', 'post', {
                    swtich: { statu: value, saleProductId: row.saleProductId, templateCode: row.templateCode }, key: {
                        templateCode: row.templateCode, price: row.price, en: row.en, name: row.name,
                        stock: row.stock, productCode: row.productCode, saleProductId: row.saleProductId
                    }
                }, function (res) {
                    if (res == false) {
                        diaMessage.open("开启提醒失败!");
                    }
                });
            },
            option: function (e) {
                this.content.limit = e;
                this.content.page = 1;
                this.product();
            }
        },
        mounted() {
            this.productType();
            this.product();
        }
    })
    function edtior() {
        if (demo.selection.length == 0)
            diaMessage.open('没有选择任何行！');
        else {
            var data = demo.selection;
            dialog.open("设置", "500px", '600px', {
                url: '/remind/template/set', type: 'post', data: data, success: function (res) {
                    if (res)
                        diaMessage.open("设置成功");
                    else diaMessage.open("设置失败");

                    demo.product();
                }
            });
        }

    }
</script>


