
@{
    ViewData["Title"] = "订单发货统计分析";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
@section Styles{
    <style type="text/css">
        .pagehead { margin-bottom: 10px; padding: 10px 0 10px 0; }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">订单发货统计分析</span>
                </div>
                <div class="x-nav">
                    <a class="btn btn-primary btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:window.location.reload();" title="刷新">
                        <i class="layui-icon">&#xe9aa;</i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-default blue align-reverse" id="exportExcel" style="float:right;margin-right:20px;">导出EXCEL</a>
                    <iframe id="ifile" style="display:none"></iframe>
                </div>


                <div class="portlet-body">
                    <div class="row pagehead ">
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">日期类型</span>
                                <select id="dateType" name="dateType" class="form-control">
                                    <option value="1">下单日期</option>
                                    <option value="2">发货日期</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">日期</span>
                                <input type="text" class="form_datetime form-control" id="StartTime" name="StartTime" value="" autocomplete="off" />
                                <span class="input-group-addon">~</span>
                                <input type="text" class="form_datetime form-control" id="EndTime" name="EndTime" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">支付方式</span>
                                @Html.DropDownList("payTypes", ViewBag.PayTypes as SelectList, "请选择", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">店铺</span>
                                @Html.DropDownList("platforms", ViewBag.Platforms as SelectList, "请选择", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">仓库</span>
                                @Html.DropDownList("wareHouse", ViewBag.WareHouses as SelectList, "请选择", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row pagehead">
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">快递</span>
                                @Html.DropDownList("delivery", ViewBag.Deliveries as SelectList, "请选择", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">关键词</span>
                                <input type="text" class="form-control" id="SearchStr" value="" placeholder="订单编号，快递单号,收货人,地址" />
                                <div class="input-group-btn">
                                    <input type="button" class="btn btn-default red" name="BtnSearchStr" onclick="ShowData()" value="搜索" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pagehead">
                        <div class="col-md-12" style="color:#333;font:15px;font-weight:bold;">
                            <span id="orderCount"></span>
                            <span id="productCount"></span>
                            <span id="avgSumPrice"></span>
                        </div>
                    </div>
                    <!--DataTable Begin-->
                    <div class="dataTable" style=" white-space:nowrap;overflow:scroll;">
                        <table id="OrderTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th>发货日期</th>
                                    <th>下单日期</th>
                                    <th>快递公司</th>
                                    <th>发货单编号</th>
                                    <th>支付方式</th>
                                    <th>快递单号</th>
                                    <th>仓库</th>
                                    <th>交易号</th>
                                    <th>用户名</th>
                                    <th>收货人</th>
                                    <th>地址</th>
                                    <th>手机</th>
                                    <th>店铺</th>
                                    <th>运费</th>
                                    <th>数量</th>
                                    <th>订单已付金额</th>
                                    <th>商品均摊总金额</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <ul id="pageLimit" style="float:right"></ul>
                    </div>
                    <!--DataTable End-->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Metronic/assets/global/plugins/bootstrap-paginator/src/bootstrap-paginator.js"></script>
    <script type="text/javascript">
        $(function () {
            ShowData();
        });
        var ShowData = function () {
            var data = $("#SearchStr").val();
            var shopId = $("#platforms option:selected").val();
            var wareHouse = $("#wareHouse option:selected").val();
            var payType = $("#payType option:selected").val();
            var delivery = $("#delivery option:selected").val();
            var dateType = $("#dateType option:selected").val();
            var payType = $("#payTypes option:selected").val();
            var pageSize = 20;
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            if ((endTime != "") && startTime > endTime) {
                alertError("请重新选择时间");
                return false;
            }
            if (endTime != "") {
                endTime = new Date(endTime);
                endTime = (endTime.setDate(endTime.getDate() + 1));
                endTime = new Date(endTime);
                var year = endTime.getFullYear();
                var month = endTime.getMonth() + 1 < 10 ? "0" + (endTime.getMonth() + 1) : endTime.getMonth();
                var date = endTime.getDate() < 10 ? "0" + endTime.getDate() : endTime.getDate();
                endTime = year + "-" + month + "-" + date;
            }


            $oms.paginator({
                pageLimitId: "pageLimit",
                url: "/DataStatistics/GetOrderDeliveryStatisticsData",
                data: { search: data, pageSize: pageSize, shopId: shopId, wareHouseId: wareHouse, startTime: startTime, endTime: endTime, payType: payType, deliveryId: delivery, dateType: dateType },
                success: function (data) {
                    html = "";
                    if (data.result.length > 0) {
                        for (var i = 0; i < data.result.length; i++) {
                            html += "<tr>" +
                                "<td><a href='/B2COrder/B2COrderDetail?id=" + data.result[i].id + "'>" + data.result[i].serialNumber + "</a></td>" +
                                "<td>" + data.result[i].deliverDate + "</td>" +
                                "<td>" + data.result[i].orderDate + "</td>" +
                                "<td>" + data.result[i].deliverName + "</td>" +
                                "<td>" + data.result[i].invoiceSerialNumber + "</td>" +
                                "<td>" + data.result[i].payTypeName + "</td>" +
                                "<td>" + data.result[i].deliverSerialNumber + "</td>" +
                                "<td>" + data.result[i].wareHouseName + "</td>" +
                                "<td>" + data.result[i].businessSerialNumber + "</td>" +
                                "<td>" + data.result[i].accountName + "</td>" +
                                "<td>" + data.result[i].receiveName + "</td>" +
                                "<td>" + data.result[i].address + "</td>" +
                                "<td>" + data.result[i].phone + "</td>" +
                                "<td>" + data.result[i].shopName + "</td>" +
                                "<td>" + data.result[i].deliveryCost + "</td>" +
                                "<td>" + data.result[i].quantity + "</td>" +
                                "<td>" + data.result[i].payedPrice + "</td>" +
                                "<td>" + data.result[i].averageSumPrice + "</td>" +
                            "</tr>"
                        }
                        $("#OrderTable").find('tbody').html(html);

                        $("#orderCount").text("订单总数:" + data.orderCount + "  |");
                        $("#productCount").text("商品总数:" + data.productCount + "  |");
                        $("#avgSumPrice").text("订单商品均摊总金额:" + data.avgSumPrice + "  |");
                    } else {
                        $("#OrderTable").find('tbody').html(html);
                    }

                }
            });
        }


        $('#exportExcel').click(function () {

            var data = $("#SearchStr").val();
            var shopId = $("#platforms option:selected").val();
            var wareHouse = $("#wareHouse option:selected").val();
            var payType = $("#payType option:selected").val();
            var delivery = $("#delivery option:selected").val();
            var dateType = $("#dateType option:selected").val();
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            if ((endTime != "") && startTime > endTime) {
                alertError("请重新选择时间");
                return false;
            }
            if (endTime != "") {
                endTime = new Date(endTime);
                endTime = (endTime.setDate(endTime.getDate() + 1));
                endTime = new Date(endTime);
                var year = endTime.getFullYear();
                var month = endTime.getMonth() + 1 < 10 ? "0" + (endTime.getMonth() + 1) : endTime.getMonth();
                var date = endTime.getDate() < 10 ? "0" + endTime.getDate() : endTime.getDate();
                endTime = year + "-" + month + "-" + date;
            }

            var valueStr = "?" + "startTime=" + startTime + "&endTime=" + endTime + "&shopId=" + shopId + "&payType=" + payType + "&dataType=" + dateType + "&deliveryId=" + delivery + "&wareHouseId=" + wareHouse + "&search=" + data;

            var dom = document.getElementById('ifile');
            dom.src = "/DataStatistics/" + "ExportOrderDeliveryStatistics" + valueStr;
        })

    </script>
}
