
@{
    ViewData["Title"] = "零售销货分析";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
@section Styles{
    <style type="text/css">
        .pagehead { margin-bottom: 10px; padding: 20px 0 30px 0; }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">B2C零售销货分析</span>
                </div>
                <div class="x-nav">
                    <a class="btn btn-primary btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:window.location.reload();" title="刷新">
                        <i class="layui-icon">&#xe9aa;</i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-default blue align-reverse" id="exportExcel" style="float:right;margin-right:20px;">导出EXCEL</a>
                    <iframe id="ifile" style="display:none"></iframe>
                </div>


                <div class="portlet-body">
                    <div class="row"></div>
                    <div class="row pagehead ">

                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">时间</span>
                                <input type="text" class="form_datetime form-control" id="StartTime" name="StartTime" value="" autocomplete="off" />
                                <span class="input-group-addon">~</span>
                                <input type="text" class="form_datetime form-control" id="EndTime" name="EndTime" value="" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">单据类型</span>
                                <select id="orderType" name="orderType" class="form-control">
                                    <option value="0">全部</option>
                                    <option value="1">零售销货单</option>
                                    <option value="2">零售退货单</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">店铺</span>
                                @Html.DropDownList("platforms", ViewBag.Platforms as SelectList, "请选择", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">仓库</span>
                                @Html.DropDownList("wareHouse", ViewBag.WareHouses as SelectList, "请选择", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">关键词</span>
                                <input type="text" class="form-control" id="SearchStr" value="" placeholder="单据编号，商品sku,商品名称" />
                                <div class="input-group-btn">
                                    <input type="button" class="btn btn-default red" name="BtnSearchStr" onclick="ShowData()" value="搜索" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--DataTable Begin-->
                    <div class="dataTable" style=" white-space:nowrap;overflow:scroll;">
                        <table id="OrderTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>单据类型</th>
                                    <th>单据日期</th>
                                    <th>单据编号</th>
                                    <th>商店名称</th>
                                    <th>仓库名称</th>
                                    <th>商品sku</th>
                                    <th>货号</th>
                                    <th>商品名称</th>
                                    <th>原价</th>
                                    <th>销售价</th>
                                    <th>数量</th>
                                    <th>总金额</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <ul id="pageLimit" style="float:right"></ul>
                    </div>
                    <!--DataTable End-->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Metronic/assets/global/plugins/bootstrap-paginator/src/bootstrap-paginator.js"></script>
    <script type="text/javascript">
        $(function () {
            ShowData();
        });
        var ShowData = function () {
            var data = $("#SearchStr").val();
            var shopId = $("#platforms option:selected").val();
            var wareHouse = $("#wareHouse option:selected").val();
            var orderType = $("#orderType option:selected").val();
            var pageSize = 20;
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            if ((endTime != "") && startTime > endTime) {
                alertError("请重新选择时间");
                return false;
            }
            if (endTime != "") {
                endTime = new Date(endTime);
                endTime = (endTime.setDate(endTime.getDate() + 1));
                endTime = new Date(endTime);
                var year = endTime.getFullYear();
                var month = endTime.getMonth() + 1 < 10 ? "0" + (endTime.getMonth() + 1) : endTime.getMonth();
                var date = endTime.getDate() < 10 ? "0" + endTime.getDate() : endTime.getDate();
                endTime = year + "-" + month + "-" + date;
            }

            $oms.paginator({
                pageLimitId: "pageLimit",
                url: "/DataStatistics/GetRetailSalesData",
                data: { search: data, pageSize: pageSize, shopId: shopId, wareHouseId: wareHouse, startTime: startTime, endTime: endTime, orderType: orderType},
                success: function (data) {
                    html = "";
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var hrefStr = data[i].isRefundOrder == true ? "/B2COrder/B2CRefundOrderDetail?id=" : "/B2COrder/B2COrderDetail?id=";
                            html += "<tr>" +
                                "<td>" + data[i].typeName + "</td>" +
                                "<td>" + data[i].dateTime + "</td>" +
                                "<td><a onclick='OrderDetail(\"" + data[i].orderSerialNumber + "\"," + data[i].isRefundOrder+","+ data[i].orderId +")'>"+ data[i].orderSerialNumber + "</a></td>" +
                                "<td>" + data[i].shopName + "</td>" +
                                "<td>" + data[i].wareHouseName + "</td>" +
                                "<td>" + data[i].productSku + "</td>" +
                                "<td>" + data[i].deputyBarcode+"</td>"+
                                "<td>" + data[i].productName + "</td>" +
                                "<td>" + data[i].originalPrice + "</td>" +
                                "<td>" + data[i].salePrice + "</td>" +
                                "<td>" + data[i].quantity + "</td>" +
                                "<td>" + data[i].sumPrice + "</td>" +
                            "</tr>"
                        }
                        $("#OrderTable").find('tbody').html(html);
                    } else {
                        $("#OrderTable").find('tbody').html(html);
                    }

                }
            });
        }
        //订单详情
        function OrderDetail(orderSerialNumber,isRefundOrder, id) {
            var href = isRefundOrder == true ? "/B2COrder/B2CRefundOrderDetail?id=" : "/B2COrder/B2COrderDetail?id=";
            //是否有打开tab
            for (var i = 0; i < parent.$('.x-iframe').length; i++) {
                if (parent.$('.x-iframe').eq(i).attr('tab-id') == orderSerialNumber) {
                    parent.$tap.tabChange(orderSerialNumber);
                    event.stopPropagation();
                    return;
                }
            };
            var url = href + id;
            parent.$tap.tabAdd(orderSerialNumber, url, orderSerialNumber); // 新开一个tap页面
            parent.$tap.tabChange(orderSerialNumber);
            event.stopPropagation();
        }
        $('#exportExcel').click(function () {

            var data = $("#SearchStr").val();
            var shopId = $("#platforms option:selected").val();
            var wareHouse = $("#wareHouse option:selected").val();
            var orderType = $("#orderType option:selected").val();
            var pageSize = 20;
            var startTime = $("#StartTime").val();
            var endTime = $("#EndTime").val();
            if ((endTime != "") && startTime > endTime) {
                alertError("请重新选择时间");
                return false;
            }
            if (endTime != "") {
                endTime = new Date(endTime);
                endTime = (endTime.setDate(endTime.getDate() + 1));
                endTime = new Date(endTime);
                var year = endTime.getFullYear();
                var month = endTime.getMonth() + 1 < 10 ? "0" + (endTime.getMonth() + 1) : endTime.getMonth();
                var date = endTime.getDate() < 10 ? "0" + endTime.getDate() : endTime.getDate();
                endTime = year + "-" + month + "-" + date;
            }

            var valueStr = "?" + "startTime=" + startTime + "&endTime=" + endTime + "&shopId=" + shopId + "&orderType=" + orderType + "&wareHouseId=" + wareHouse + "&search=" + data;

            var dom = document.getElementById('ifile');
            dom.src = "/DataStatistics/" + "ExportRetailSalesAnalysis" + valueStr;
        })

    </script>
}
