
@{
    ViewData["Title"] = "修改密码";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-haze bold uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改密码</font></font></span>
                </div>
                <div class="x-nav">
                    <a class="btn btn-primary btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:window.location.reload();" title="刷新">
                        <i class="layui-icon">&#xe9aa;</i>
                    </a>
                    <a class="btn btn-success btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:history.back(-1);" title="返回">
                        <i class="layui-icon">&#xe65c;</i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="center-block" style="width:600px;">
                    <div id="AddCustomerForm" class="form-horizontal">
                        <div class="form-group vgroup">
                            <label class="col-md-3 control-label">旧密码<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control vinput" type="password" name="oldPassword" id="oldPassword" value="" placeholder="请输入旧密码" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group vgroup">
                            <label class="col-md-3 control-label">新密码<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control vinput" type="password" name="newPassword" id="newPassword" value="" placeholder="请输入新密码" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group vgroup">
                            <label class="col-md-3 control-label">确认密码<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control vinput" type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="再次输入新密码" autocomplete="off" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <input class="btn green" type="submit" name="changePassword" value="提交" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link href="~/Metronic/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
}




@*<div class="x-nav">
        <span class="layui-breadcrumb" style="visibility: visible;">
            <a href="javascript:;">权限管理</a><span lay-separator="">/</span>
            <a href="javascript:;">修改密码</a>
        </span>
        <a class="btn btn-primary btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:window.location.reload();" title="刷新">
            <i class="layui-icon">&#xe9aa;</i>
        </a>
        <a class="btn btn-success btn-circle btn-sm" style="float:right" href="javascript:;" onClick="javascript:history.back(-1);" title="返回">
            <i class="layui-icon">&#xe65c;</i>
        </a>
    </div>

    <div class="row">
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-haze bold uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改密码</font></font></span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="center-block" style="width:600px;">
                    <div id="AddCustomerForm" class="form-horizontal">
                        <div class="form-group vgroup">
                            <label class="col-md-3 control-label">旧密码<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control vinput" type="password" name="oldPassword" id="oldPassword" value="" placeholder="请输入旧密码" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group vgroup">
                            <label class="col-md-3 control-label">新密码<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control vinput" type="password" name="newPassword" id="newPassword" value="" placeholder="请输入新密码" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group vgroup">
                            <label class="col-md-3 control-label">确认密码<span class="required" aria-required="true">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control vinput" type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="再次输入新密码" autocomplete="off" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <input class="btn green" type="submit" name="changePassword" value="提交" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section Scripts{
    <script type="text/javascript" language="javascript">
        $(function () {
            $("input[name='changePassword']").click(function () {
                var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                var confirmPassword = $("#confirmPassword").val();

                if (oldPassword == null || oldPassword == "") {
                    alertError("旧密码不能为空！");
                    return false;
                }
                if (newPassword == null || newPassword == "") {
                    alertError("新密码不能为空！");
                    return false;
                }
                if (confirmPassword == null || confirmPassword == "") {
                    alertError("确认密码不能为空！");
                    return false;
                }
                if (newPassword != confirmPassword) {
                    alertError("新密码和确认密码必须一致！");
                    return false;
                }

                $.ajax({
                    url: "/User/UpdateUserPassword",
                    type: "POST",
                    data: { oldPassword: oldPassword, newPassword: newPassword, id:@ViewBag.UserId },
                    success: function (res) {
                        if (res.isSucc) {
                            alertSuccess("修改成功");
                        }
                        else {
                            alertError(res.msg);
                        }
                    }
                })
            })
        })
    </script>
}


